.auth_wrapper {
  height: 100vh;
  width: 100vw;
  background: rgb(202, 243, 228);
  background: linear-gradient(
    90deg,
    rgba(202, 243, 228, 1) 0%,
    rgba(202, 243, 228, 1) 34%,
    rgba(204, 247, 162, 1) 100%
  );
}
