@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
* {
  font-size: 10px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}
body {
  height: 100%;
  width: 100%;
}
